
  <mdb-card>
    <mdb-card-body>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
          </button>
      <mdb-card-title>
        <h5 class="font-weight-bold mb-3">Panel title</h5>
      </mdb-card-title>
      <mdb-card-text class="mb-0">Some quick example text to build on the panel title and make up the bulk of the
        panel's
        content</mdb-card-text>
    </mdb-card-body>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <mdb-card-body>
      <a href="#!" class="card-link">Card link</a>
      <a href="#!" class="card-link">Another link</a>
    </mdb-card-body>
  </mdb-card>