
  <mdb-card class="p-3">
    <mdb-card-body>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
          </button>
      <mdb-card-title>
        <h5 class="font-weight-bold mb-3">{{this.name}} manu</h5>
      </mdb-card-title >
        <ul *ngFor="let manuItem of manu"class="flex-container flex-start p-2 mb-3" style="width: 100%;background-color: #e2f9f6;border-radius: 5px;">
          <li class="mb-3" style="width: 35%;border-radius: 5px;height: 100%;">
            <div style="width: 100%;height: 100px">
            <img style="width: 100%;height: 100%;border-radius: 5px;" [src]=manuItem.mealUrl alt="">
            </div>
          </li>
          <li class="px-3" style="width: 60%;">
            <div>
                {{manuItem.mealName}}
            </div>
          
            <div *ngFor="let content of manuItem.contents" style="font-size: 16px;
            color: #737373;
            font-weight: lighter;">
                {{content}},
            </div>
            <div>
                R {{manuItem.cost}}
            </div>
          </li>
        </ul>
       
    </mdb-card-body>
    
    
  </mdb-card>

  <!--Bushbackridge gospel-->