<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">DIveinn</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect (click)="selectPage('pending',0)">Pending<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect (click)="selectPage('preparing',1)">Preparing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect (click)="selectPage('done',2)">Done</a>
        </li>
  
        <!-- Dropdown -->
        
  
      </ul>
      <!-- Links -->
  
      <!-- Search form -->
     
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  <app-preparing [selectedStatus]="'pending'" *ngIf="selectedPage[0]"></app-preparing>
  <app-pending *ngIf="selectedPage[1]" [selectedStatus]="'preparing'"></app-pending>
  <app-done *ngIf="selectedPage[2]" [selectedStatus]="'done'"></app-done>