<div class="container">
    <div style="width:100%;text-align: center;margin-top:3rem">
      <h1>DiveInn</h1>
    </div>
    <div style="width:100%;text-align: center;margin-top:3rem">
      <span class="dot">
        <img src="https://i.pinimg.com/474x/a9/00/68/a900685f5b45728744c502c387b297cd.jpg" alt="">
      </span>
  
   <!-- Default form login -->
  <form class="text-center border border-light p-5">
  
   
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="restaurant name">
  
    <!-- Password -->
    <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="restaurant id">
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
  
  </form>
  <!-- Default form login -->
    </div>
    
  </div>